/* style.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f0f0f0;
}

#game-area {
  width: 600px;
  height: 400px;
  margin: 20px auto;
  border: 3px solid #333;
  position: relative;
  background-color: #fff;
}

#doge {
  width: 100px;
  position: absolute;
  top: 150px;
  left: 250px;
  cursor: grab;
}
#game-area {
  width: 600px;
  height: 400px;
  margin: 20px auto;
  border: 3px solid #333;
  position: relative;
  background-color: #fff;
}
